[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "public"]
	path = public
	url = http://github.com/shansabri/shansabri.github.io.git
	branch = master
